.inner {
    max-width: 350px;
    margin: 0 auto;
}

.feature1 {
    position: relative;
    margin-top: 200px;

    .wrapper {
        padding-left: 0;
    }

    img,
    .inner {
        margin-top: -250px;
    }
}

.feature2 {
    .wrapper {
        padding-right: 0;
    }

    img {
        margin-top: -400px;
    }

    .inner {
        margin-top: -100px;
    }
}